div.left_side{
    width: 15%;
    height: 100%;
    float:left;
    background-color: #EEEEE0;
}

div.right_side{
    float:left;
    width: 85%;
    padding-left: 15px;
}

div.giant_screen{
    float: center;
    padding: 30px;
    margin-top: 150px;
}

li.up_well{
    background-color: #333333;
    color: #f6f6f6;
}

li.down_well{
    background-color: #f6f6f6;
    color: #333333;
}