div.left_side{
    width: 15%;
    height: 100%;
    float:left;
    background-color: #424242;
}

div.right_side{
    float:left;
    width: 85%;
    padding-left: 15px;
}

div.giant_screen{
    background-color: #D9D9D9;
    float: center;
    padding: 30px;
    margin-top: 150px;
}