{% extends "AdminHeader.html" %}

{% block ship %}
<script type="text/babel">
StockShipsSpot();
StockShipsShipType();
</script>
<div class="container" style="margin-top: 20px">
    <div class="row" style="text-align:center;">
        <ul class="list-group col-lg-3">
            <li class="list-group-item up_well"><h3>游船总数</h3></li>
            <li class="list-group-item down_well"><h3>{{ results[0]+results[1]+results[2] }}</h3></li>
        </ul>
        <ul class="list-group col-lg-3">
            <li class="list-group-item up_well"><h3>空闲船只数</h3></li>
            <li class="list-group-item down_well"><h3>{{ results[0] }}</h3></li>
        </ul>
        <ul class="list-group col-lg-3">
            <li class="list-group-item up_well"><h3>维护船只数</h3></li>
            <li class="list-group-item down_well"><h3>{{ results[1] }}</h3></li>
        </ul>
        <ul class="list-group col-lg-3">
            <li class="list-group-item up_well"><h3>租借船只数</h3></li>
            <li class="list-group-item down_well"><h3>{{ results[2] }}</h3></li>
        </ul>
    </div>
    <div class="row">
        <div class="list-group col-lg-3">
            <label for="spot_select">景区筛选</label>
            <select id="spot_select" class="form-control" onchange="StockSpotShipType()">
                <option value="">请选择</option>
            </select>
        </div>
        <div class="list-group col-lg-3">
            <label for="type_select">船只类型筛选</label>
            <select id="type_select" class="form-control" onchange="StockSpotShipType()">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
</div>
<h2 class="sub-header">库存管理</h2>
<table id="stock_table" width="100%" class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            <span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="modal" data-target="#add_ship"></span>船只主题色</th>
        <th>船只规模</th><th>船只型号</th><th>船只类型</th><th>所属景区</th><th>钱/分</th><th>库存数</th><th>操作</th>
    </tr>
    {% for i in range(len(data)) %}
    <tr>
        <td>{{ data[i][0] }}</td><td>{{ data[i][1] }}</td><td>{{ data[i][2] }}</td><td>{{ data[i][3] }}</td>
        <td>{{ data[i][4] }}</td><td>{{ data[i][5] }}</td><td>{{ data[i][6] }}</td>
        <td><a href="#" data-toggle="modal" data-target="#change_ship" onclick="InitChangeShipModel('{{ data[i][0] }}', '{{ data[i][1] }}', '{{ data[i][2] }}', '{{ data[i][5] }}', '{{ data[i][8] }}', '{{ data[i][7] }}')">修改信息</a>
            /<a href="#" onclick="DeleteShip('{{ data[i][0] }}', '{{ data[i][1] }}', '{{ data[i][2] }}', '{{ data[i][7] }}', '{{ data[i][8] }}')">删除</a></td>
    </tr>
    {% end %}
</table>
<div class="modal fade" id="change_ship" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">修改船只信息</div>
            <div class="modal-body">
                <label for="recolor">船只主题色</label>
                <input type="text" id="recolor" class="form-control" placeholder="船只主题色" />
                <label for="resize">船只规模</label>
                <input type="text" id="resize" class="form-control" placeholder="船只规模" />
                <label for="remodel">船只型号</label>
                <input type="text" id="remodel" class="form-control" placeholder="船只型号" />
                <label for="recost">钱/分</label>
                <input type="text" id="recost" class="form-control" placeholder="钱/分" />
                <label for="respot">景区</label>
                <select id="respot" class="form-control"></select>
                <input type="hidden" id="old_color">
                <input type="hidden" id="old_size">
                <input type="hidden" id="old_model">
                <input type="hidden" id="old_cost">
                <input type="hidden" id="old_spot">
                <input type="hidden" id="old_type">
            </div>
            <div class="modal-footer" id="change_ship_footer"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="add_ship" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">添加船只</div>
            <div class="modal-body">
                <label for="shipname">船只名称</label>
                <input type="text" id="shipname" class="form-control" placeholder="船只名称" />
                <label for="color">船只主题色</label>
                <input type="text" id="color" class="form-control" placeholder="船只主题色" />
                <label for="size">船只规模</label>
                <input type="text" id="size" class="form-control" placeholder="船只规模" />
                <label for="model">船只型号</label>
                <input type="text" id="model" class="form-control" placeholder="船只型号" />
                <label for="cost">钱/分</label>
                <input type="text" id="cost" class="form-control" placeholder="钱/分" />
                <label for="type">船只类型</label>
                <select id="type" class="form-control"></select>
                <label for="spot">景区</label>
                <select id="spot" class="form-control"></select>
                <label for="number">数量</label>
                <input value="1" type="number" id="number" class="form-control" placeholder="数量" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="AddReShip()">提交</button>
            </div>
        </div>
    </div>
</div>
{% end %}