{% extends "AdminHeader.html" %}

{% block ship %}
<script type="text/babel">
ActivityStockShipsSpot();
ActivityStockShipsShipType();
</script>
<div class="container">
    <div class="jumbotron">
        <h1>会员信誉和景区会影响船只租金</h1>
    </div>
    <div class="row">
        <div class="list-group col-lg-3">
            <label for="spot_select">景区筛选</label>
            <select id="spot_select" class="form-control" onchange="LeaseSpotShipTypeSelect()">
                <option value="">请选择</option>
            </select>
        </div>
        <div class="list-group col-lg-3">
            <label for="type_select">船只类型筛选</label>
            <select id="type_select" class="form-control" onchange="LeaseSpotShipTypeSelect()">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
</div>
<h2 class="sub-header">船只租借管理</h2>
<table id="lease_table" width="100%" class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>船只编号</th><th>船只名称</th><th>船只主题色</th><th>船只规模</th><th>船只型号</th><th>租金(钱/每分)</th><th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for i in range(len(data)) %}
    <tr>
        <td>{{ data[i][0] }}</td><td>{{ data[i][1] }}</td><td>{{ data[i][2] }}</td><td>{{ data[i][3] }}</td><td>{{ data[i][4] }}</td>
        <td>{{ data[i][5] }}</td><td><a href="#" onclick="InitAddActivityModel({{ data[i][0] }})" data-toggle="modal" data-target="#add_activity">出租</a></td>
    </tr>
    {% end %}
    </tbody>
</table>
<div class="modal fade" id="add_activity" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">游船出租，请选择要租船的会员</div>
            <div class="modal-body">
                <label for="add_act_phone">会员电话</label>
                <select onchange="AddActivitySelect(this.value)" style="width:100%;height:36px;" class="form-control" id="add_act_select"></select>
                <input oninput="value=value.replace(/[^\d]/g,'');AddActivitySelectOption(this.value)" class="form-control" placeholder="请输入用户电话" name="add_act_phone" id="add_act_phone" type="text" style="width:97%;height:36px;position: relative;top: -36px" />
                <input type="hidden" id="cost"><input type="hidden" id="shipId">
                <div class="alert alert-info" role="alert" id="show_cost"></div>
            </div>
            <div class="modal-footer" id="add_activity_footer"></div>
        </div>
    </div>
</div>
{% end %}